/* 하단 */
footer {
 
    position: relative;
  }
  footer div.wrap {
   
    max-width: 1120px;
  }
  footer div.wrap:before{
    content: "";
    width: 100%;
    height: 210px;
    display: block;
    background-color: #f7f8f9;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  footer div.wrap h1 {
   
  }
  footer div.wrap ul.fnb {
   
    margin-bottom: 50px;
    justify-content: space-between;
    line-height: 1.4;
  }
  footer div.wrap ul.fnb>li {
   
  }
  footer div.wrap ul.fnb > li:nth-child(1){
    
    width: calc(100% / 4);
  }
  footer div.wrap ul.fnb>li h2 {
   
    margin-bottom: 20px;
  }
  footer div.wrap ul.fnb>li ul {
   
    flex-wrap: wrap;
  }
  footer div.wrap ul.fnb>li ul li {
   
  }
  footer div.wrap ul.fnb > li:nth-child(1) ul li{
    
    width: calc(100% / 2);
  }
  footer div.wrap ul.fnb>li ul li a {
   
  }
  footer div.wrap ul.fnb2 {
   
    margin-top: 30px;
    grid-template-columns: repeat(6,auto) 1fr;
    margin-bottom: 30px;
  }
  footer div.wrap ul.fnb2 li {
   
  }
  footer div.wrap ul.fnb2 li:last-child{
    
    justify-self: right;
  }
  footer div.wrap ul.fnb2 li a {
   
    line-height: 2;
    padding: 0 10px;
  }
  footer div.wrap ul.fnb2 li:last-child a::after{
    content: "";
    background-image: url(../img/add.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 2px;
  }
  footer div.wrap ul.fnb2 li:nth-child(1) a{
    padding-left: 0;
  }
  footer div.wrap ul.fnb2 li:nth-child(3) a{
    
    font-weight: bold;
  }
  footer div.wrap ul.sns {
   
  }
  footer div.wrap ul.sns li {
   
  }
  footer div.wrap ul.sns li a {
   
  }
  footer div.wrap address {
   
  }